ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-evenly;
    background: rgb(8, 6, 6);
    padding:24px 0;

    
}

li{
    list-style:none;

}

a{
    text-decoration: none;
    color:white;
}